.socialIconWrapper {
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  min-height: 33px;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 34px;
  padding: 5px;
}

.socialIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 21px;
}
